<div class="background text-center">
    <form
      class="form-signin animated fadeIn"
      autocomplete="off"
      [formGroup]="registroForm"
      (ngSubmit)="registro()"
    >
    <h1 class="text-center" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">LOGIN</h1>
    <label class="sr-only" for="inputEmail">Email Address</label>
      <input
        type="email"
        class="form-control mb-2"
        id="inputEmail"
        placeholder="Email Address"
        formControlName="email"
        [class.is-invalid]="emailValidate"
      />
      <label class="sr-only" for="inputPassword">Password</label>
      <input
        type="password"
        class="form-control mb-3"
        id="inputPassword"
        placeholder="Password"
        formControlName="password"
        [class.is-invalid]="passwordValidate"

      />
      <label class="sr-only" for="inputPassword2">Confirm Password</label>
      <input
        type="password"
        class="form-control mb-3"
        id="inputPassword2"
        placeholder="Confirm Password"
        formControlName="password2"
        [class.is-invalid]="password2Validate"

      />
      <button type="submit" class="btn btn-lg btn-primary btn-block mb-2"[disabled]="password2Validate">
        Sign up
      </button>
      <br>
      <a style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 23px;" [routerLink]="['/login']">Ya tienes una cuenta?</a>
      <p class="mt-4 mb-3 text-muted">©CodeDevsGroup - 2022</p>
    </form>
  </div>