<div class="container" style="margin-top: 20px;">
    <div class="card">
        <div class="card-header">
            <h3>LIBROS</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>id</th>
                        <th>TÍTULO</th>
                        <th>DESCRIPCIÓN</th>
                        <th>Editorial</th>
                        <th>estante</th>
                        <th>OPCIONES</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr *ngFor="let libro of libro" class="text-center">
                            <td>{{libro.id}}</td> 
                            <td>{{libro.titulo}}</td> 
                            <td>{{libro.descripcion}}</td>
                            <td>{{libro.Editorial}}</td>
                            <td>{{libro.Estante}}</td>

                            <td>
                                <button (click)="editarlib(libro)"class="btn btn-outline-info">Editar</button>
                                <button (click)="deleteLibro(libro.id)" class="btn btn-outline-dark" style="margin-left: 5px;">Borrar</button>

                            </td>

                        </tr>
                    </tbody>
              
            </table>
        
        </div>
    </div>
    <br>
    <button class="btn btn-outline-dark col-md-12" (click)="nuevolibro()">Nuevo Libro</button>
</div>
