<div class="container col-md-6" style="margin-top: 20px;">
    <div class="card">
        <div class="card-header">
            <h3>Actualizar libro-autor</h3>
        </div>
        <div class="card-body">
            <form action="">
               
                <div class="form-group">
                    <label for="">autor:</label>
                    <select name="miselect0" [(ngModel)]="libroautor.libro_id" class="form-select" aria-label="Default select example">
                        <option [ngValue]="null" disabled>Seleccionar libro</option>
                        <option [value]="libro.id" *ngFor="let libro of libros">{{libro.titulo}}</option>
                        </select>
                        </div>
                <div class="form-group">
                    <label for="">autor:</label>
                    <select name="miselect1" [(ngModel)]="libroautor.autor_id" class="form-select" aria-label="Default select example">
                        <option [ngValue]="null" disabled>Seleccionar autor</option>
                        <option [value]="autores.id" *ngFor="let autores of autores">{{autores.nombre}}</option>
                        </select>
                       
                </div>

                <button class="btn btn-outline-success col-md-12" style="margin-top: 20px;" (click)="actualizar(libroautor)">Guardar</button>
                <br> <br>
                <button class="btn btn-outline-danger col-md-12" (click)="regresarAut()">Cancelar</button>
                
            </form>
        </div>
    </div>
</div>

<div class="container col-md-6 ">
    <div class="card card-body text-center">
        <h3>{{libros.titulo==''?'Escribe el título':libros.titulo}}</h3>
        <p>{{libros.descripcion==''?'escribe la descripción':libros.descripcion}}</p>
        
    </div>
</div>
