<div class="container col-md-6" style="margin-top: 20px;">
    <div class="card">
        <div class="card-header">
            <h3>Agregar autores</h3>
        </div>
        <div class="card-body">
            <form >
                <div class="form-group">

                    <label for="">Nombre:</label>
                    <input type="text" class="form-control" [(ngModel)]="autores.nombre" name="nombre" required>
                    <span *ngIf="this.formularioContacto.get('nombre')?.errors?.['required']">
                        (El nombre no puede quedar vacío)
                      </span>
                </div>

                <div class="form-group">

                    <label for="">Nacionalidad:</label>
                    <input type="text" class="form-control" [(ngModel)]="autores.nacionalidad" name="nacionalidad" required>
                    <span *ngIf="this.formularioContacto.get('nacionalidad')?.errors?.['required']">
                        (la nacionalidad no puede quedar vacía)
                      </span>
                </div>

                <button type="submit" class="btn btn-outline-success col-md-12" style="margin-top: 20px;" (click)="Guardarautor()">Guardar</button>
                <br> <br>
                <button class="btn btn-outline-danger col-md-12" (click)="regresarAut()">Cancelar</button>
                
            </form>
        </div>
        <div>{{resultado}}</div>
    </div>
</div>

<div class="container col-md-6 ">
    <div class="card card-body text-center">
        <h3>{{autores.nombre==''?'Escribe el nombre':autores.nombre}}</h3>
        <p>{{autores.nacionalidad==''?'escribe la nacionalidad':autores.nacionalidad}}</p>
    </div>
</div>